.hero {
  position: relative;
  height: 805px;


  .container{
    width: 100%;
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 16px;
  }
  
  .content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2000;
  }
  
  .wrapper {
  }
  
  .title {
    max-width: 538px;
    font-family: "Caveat-Regular";
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 100px;
    color: #3f454a;
  }
  
  .brush {
    position: absolute;
    left: -75px;
    bottom: -120px;
    z-index: -1;
  }
  
  .background {
    position: absolute;
    inset: 0;
    width: 100%;
    object-fit: cover;
    user-select: none;
    pointer-events: none;
  }
  
  .veil {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: -50px;
    left: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 55%,
      rgba(255, 255, 255, 1) 90%
    );
  }

}

