// .container {
//   .form {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//   }
// }

.formSection{

    .articles {
        position: relative;
        background-color: white;
      }
      
      .wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .title {
        font-family: "Caveat-Regular";
        font-style: normal;
        font-weight: 700;
        font-size: 80px;
        line-height: 38px;
        text-align: center;
        color: #3f454a;
      }
      
      .brush {
        position: absolute;
        bottom: -60px;
      }
      
      .content-form {
        padding-top: 120px;
        padding-bottom: 120px;
      }
      
      .form {
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        max-width: 726px;
        width: 100%;
        margin: auto;
      }
      
      .formGroup {
        width: 100%;
      }
      
      .label {
        display: block;
        margin-bottom: 4px;
        font-family: "OpenSans-Regular";
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 24px;
        text-transform: uppercase;
        color: #24272a;
      }
      
      .input {
        width: 100%;
        padding: 12px 22px;
        border: 1px solid #cfcfcf;
        font-family: "OpenSans-Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #3f4544;
        transition: all 300ms ease;
      }
      
      .input:focus {
        outline: none;
        border-color: #d8ad3d;
      }
      
      .input:hover {
        border-color: #d8ad3d;
      }
      
      .message {
        width: 100%;
        margin-top: 30px;
        font-family: "OpenSans-Regular";
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 24px;
        text-align: left;
        color: #b72c2c;
      }
      
      .message > * {
        margin: 0;
        font-family: inherit;
        font-style: inherit;
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        color: inherit;
      }
      
      .button {
        grid-column: 2 / -1;
        display: inline-block;
        padding: 14.5px 57.9px;
        margin-top: 30px;
        margin-left: auto;
        border: 0;
        border-radius: 50px;
        font-family: "OpenSans-Regular";
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: white;
        background-color: #d8ad3d;
        transition: all 300ms ease;
      }
      
      .button:hover {
        background-color: #009cd9;
      }
      
}

